@font-face {
    font-family: 'Montserrat';
src: url(../fonts/Montserrat-Thin.ttf);
  font-style:normal;
    font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
  
  font-weight: 400;
}